


---
import Layout from '../layouts/Layout.astro';
import Countdown from "../components/Countdown.svelte";
import Navbar from "../components/Navbar.svelte";

import Tracks from "../components/Tracks.astro";
import Why from "../components/Why.astro";
import Whyget from "../components/Whyget.astro";


import { categories } from "../components/categories.js";


---

<Layout  title="LEAP | KERALA STARTUP MISSION">



<Navbar client:load></Navbar>
<!-- HERO -->

<section class="  pt-24 Montserrat ">


    <div class="md:px-20 px-10 mx-auto">

        <div class="relative ">

            <div class="relative z-30 pt-16 ">

                <div class="max-w-[700px]">
                    <h1 class="lg:text-9xl text-6xl font-bold leading-none text-[#FD226A] Montserrat">
                    BRIDGE
                    </h1>

                    <p class="text-gray-600  mt-2">
                       Business Revolution through Innovation, Digital Growth & Enterprise
                    </p>

                    <h2 class="mt-10 text-[24.7px] font-bold leading-tight text-gray-900">
                        India Launches Its Most Powerful Corporate-Startup Convergence Programme 
                    </h2>
                </div>

               <div class="flex gap-3 w-full items-start mt-10">
                    <a href="https://zfrmz.com/3IXIvwANc1bY9gNXkBaS" target="_blank" class=" w-fit  bg-[#FD226A] hover:bg-pink-600 text-white font-semibold px-10 py-4 rounded-lg text-xl transition">
                        Apply or Partner
                    </a>
                    <p class="text-[17.9px] text-[#7C529C] leading-relaxed ">
                        Corporates & MSMEs with 50 Cr+ revenue <br> can apply for the programme
                    </p>
               </div>

            </div>

            <div class="md:absolute -right-40 -top-10 -z-10">
                <img src="/img/Group 14.svg" alt="bridge" class="w-full object-contain">
            </div>

            <!-- STATS -->

            <div class="stats-wrapper">

                <div class="max-w-6xl  mt-20">

                    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5">

                        <div class="bg-white rounded-[24px] shadow-lg p-8 text-center">
                            <div class=" rounded-full flex items-center justify-center w-full ">
                                <img src="/img/h1.svg" class="w-14 h-14">
                            </div>

                            <h3 class="text-3xl font-bold mt-5">
                                50 Cr+
                            </h3>

                            <p class="text-xs text-gray-500 mt-2">
                                Revenue Eligibility
                            </p>
                        </div>

                        <div class="bg-white rounded-[24px] shadow-lg p-8 text-center">
                            <div class=" rounded-full flex items-center justify-center w-full ">
                                <img src="/img/h2.svg" class="w-14 h-14">
                                
                            </div>

                            <h3 class="text-base font-bold mt-5">
                                Adopt Invest Acquire
                            </h3>

                            <p class="text-xs text-gray-500 mt-2">
                                Engagement Paths
                            </p>
                        </div>

                         <div class="bg-white rounded-[24px] shadow-lg p-8 text-center">
                            <div class=" rounded-full flex items-center justify-center w-full ">
                                <img src="/img/h3.svg" class="w-14 h-14">
                                
                            </div>

                            <h3 class="text-3xl font-bold mt-5">
                                10 X
                            </h3>

                            <p class="text-xs text-gray-500 mt-2">
                                Growth Potential
                            </p>
                        </div>

                         <div class="bg-white rounded-[24px] shadow-lg p-8 text-center">
                            <div class=" rounded-full flex items-center justify-center w-full ">
                                <img src="/img/h4.svg" class="w-14 h-14">
                            </div>

                            <h3 class="text-base font-bold mt-5">
                               Exclusive Cohort
                            </h3>

                            <p class="text-xs text-gray-500 mt-2">
                                High Impact Program Model
                            </p>
                        </div>



                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- CONTENT SECTION -->

<section class=" pt-20 pb-24">

    <div class="md:px-20 px-10 mx-auto grid md:grid-cols-2 grid-cols-1 gap-10">
        <div>
            <p class="text-[20px] text-[#FD226A] pb-4">About Bridge</p>
            <p class="text-gray-700 leading-8 text-justify">
                BRIDGE is India's first structured corporate-startup convergence initiative for corporates and MSMEs with annual revenues of INR 50 Crore and above. We create a governed ecosystem where established businesses can adopt, invest in, or acquire breakthrough technologies from India's most promising startups.            </p>
            <a href="https://drive.google.com/file/d/1WmNza7K9cv7CxQxeEFcuvB6FuY6DQvLX/view?usp=sharing" target="_blank" class="inline-flex items-center gap-4 mt-10 text-2xl font-semibold text-indigo-900">
                Read the full press release
                <span>→</span>
            </a>
        </div>

        <div class="bg-white rounded-[30px] shadow-xl p-10">
            <div class="text-5xl text-indigo-900" style="line-height: 0">
                “</div>
            <p class=" leading-8 font-medium">
                We are not just connecting startups with corporates. We are building the infrastructure for India’s next industrial revolution. BRIDGE is where ambition meets execution.
            </p>
            <p class="mt-8 text-indigo-900 font-semibold text-end">
                — Anoop Ambika, CEO, Kerala Startup Mission
            </p>
        </div>
    </div>
</section>

<section class="pb-24 bg-[#fafafa]">
    <div class="md:px-20 px-10 mx-auto">
        <div class="grid lg:grid-cols-2 gap-6 items-start">
            <div class="bg-white rounded-xl border border-gray-300 p-6 shadow-sm">
                <h2 class="text-2xl font-bold text-[#FD226A]  pb-4">
                    Three Ways To Engage
                </h2>
                <div class="border rounded-xl flex items-center gap-3 mb-5 hover:shadow-md transition">
                    <div class="w-20 h-20 rounded-lg bg-green-500 flex items-center justify-center text-white text-4xl p-2">
                        <img src="/img/t1.svg">
                    </div> 
                    <div class="md:flex-row flex flex-col items-center justify-center gap-3 md:p-0 p-2">
                        <h3 class="text-xl font-semibold">
                            ADOPT
                        </h3>
                        <p class="text-gray-700 text-sm">
                            Integrate startup technology into your operations
                            for immediate efficiency and revenue gains.
                        </p>
                    </div>

                </div>

                <div class="border rounded-xl flex items-center gap-3 mb-5 hover:shadow-md transition">
                    <div class="w-20 h-20 rounded-lg bg-orange-500 flex items-center justify-center text-white text-4xl">
                        <img src="/img/t2.svg">
                    </div>
                    <div class="md:flex-row flex flex-col items-center justify-center gap-3 md:p-0 p-2">
                        <h3 class="text-xl font-semibold">
                            INVEST
                        </h3>
                        <p class="text-gray-700 text-sm">
                            Back high-potential startups in your sector
                            with end-to-end diligence support.
                        </p>
                    </div>

                </div>

                <div class="border rounded-xl flex items-center gap-3 hover:shadow-md transition">
                    <div class="w-20 h-20 rounded-lg bg-purple-600 flex items-center justify-center text-white text-4xl p-1">
                        <img src="/img/t3.svg">
                    </div>
                    <div class="md:flex-row flex flex-col items-center justify-center gap-3 md:p-0 p-2">
                        <h3 class="text-xl font-semibold">
                            ACQUIRE
                        </h3>
                        <p class="text-gray-700 text-sm">
                            Own the technology powering your growth
                            through structured acquisition support.
                        </p>
                    </div>

                </div>

            </div>

            <div class="flex flex-col justify-center">
                <h2 class="text-2xl font-bold text-purple-600 uppercase leading-tight">
                    Why Now? Why BRIDGE?
                </h2>
                <p class="mt-4 text-gray-800 ">
                    Digital disruption is a present reality. The next 24 months will separate leaders from laggards. BRIDGE is a structured growth engine with measurable outcomes, expert support, and a curated network to help you stay ahead.
                </p>
                <ul class="mt-4 space-y-2 mb-10">

                    <li class="flex gap-4 items-start">
                        <span class="text-[#FD226A] text-xl mt-1">•</span>
                        <span class="text-base">
                            Vetted startups. Real-world solutions.
                        </span>
                    </li>

                    <li class="flex gap-4 items-start">
                        <span class="text-[#FD226A] text-xl mt-1">•</span>
                        <span class="text-base">
                            AI-assisted matching for strategic fit.
                        </span>
                    </li>

                    <li class="flex gap-4 items-start">
                        <span class="text-[#FD226A] text-xl mt-1">•</span>
                        <span class="text-base">
                            End-to-end support to ensure deals close.
                        </span>
                    </li>

                </ul>

                <a href="https://zfrmz.com/3IXIvwANc1bY9gNXkBaS" target="_blank" class=" w-fit  bg-[#FD226A] hover:bg-pink-600 text-white font-semibold px-10 py-4 rounded-lg text-xl transition">
                    Apply or Partner
                </a>

            </div>

        </div>

    </div>
</section>

<section class="bg-[#f7f7f7] py-16">
  <div class="md:px-20 px-10 mx-auto ">
    <div class="grid lg:grid-cols-4 gap-6">
      <div class="lg:col-span-3 space-y-6">
        <div class="bg-white border border-gray-300 rounded-2xl p-3">
          <h2 class="text-[#FD226A] text-2xl font-semibold mb-8 pt-4">
            Who Should Apply?
          </h2>
          <div class="grid md:grid-cols-4 ">
            <div class="px-5 border-r border-gray-300">
              <div class="text-purple-500 text-4xl mb-4">
                <img src="/img/1.svg">
              </div>
              <h3 class="font-semibold text-base mb-3">
                Corporate & MSMEs
              </h3>
              <p class="text-xs text-gray-600 ">
                INR 50 Cr+ annual revenue across manufacturing,
                logistics, retail, BFSI, healthcare, and more.
              </p>
            </div>

            <div class="px-5 border-r border-gray-300">
              <div class="text-purple-500 text-4xl mb-4">
                <img src="/img/2.svg">
              </div>

              <h3 class="font-semibold text-base mb-3">
                Decision Makers
              </h3>

              <p class="text-xs text-gray-600 ">
                CEOs, MDs, Founders, COOs, and CXOs ready to act,
                not just explore.
              </p>
            </div>

            <div class="px-5 border-r border-gray-300">
              <div class="text-purple-500 text-4xl mb-4">
                <img src="/img/3.svg">
              </div>

              <h3 class="font-semibold text-base mb-3">
                Growth-Oriented Organisations
              </h3>

              <p class="text-xs text-gray-600 ">
                Organisations that believe in the power of
                strengthening India's startup ecosystem.
              </p>
            </div>

            <div class="px-5">
              <div class="text-purple-500 text-4xl mb-4">
                <img src="/img/4.svg">
              </div>

              <h3 class="font-semibold text-base mb-3">
                Impact-First Leaders
              </h3>

              <p class="text-xs text-gray-600 ">
                Businesses that want to outcompete and achieve
                exponential growth.
              </p>
            </div>

          </div>
        </div>

        <div class="bg-white border border-gray-300 rounded-2xl p-3">

          <h2 class="text-[#FD226A] text-2xl font-semibold mb-8 pt-4">
            Program Highlights
          </h2>

          <div class="grid md:grid-cols-5">

            <div class="px-4 border-r border-gray-300">
              <div class="text-green-500 text-4xl mb-4">
                 <img src="/img/a1.svg">
              </div>

              <h3 class=" font-semibold text-base mb-2">
                Curated Access
              </h3>

              <p class="text-xs text-gray-600">
                Pre-vetted, deployment ready startups.
              </p>
            </div>

            <div class="px-4 border-r border-gray-300">
              <div class="text-orange-500 text-4xl mb-4">
                 <img src="/img/a2.svg">
              </div>

              <h3 class=" font-semibold text-base mb-2">
                Structured Engagement
              </h3>

              <p class="text-xs text-gray-600">
                Milestones, demo days, pilots & matchmaking sessions.
              </p>
            </div>

            <div class="px-4 border-r border-gray-300">
              <div class="text-purple-500 text-4xl mb-4">
                <img src="/img/a3.svg">
              </div>

              <h3 class=" font-semibold text-base mb-2">
                Legal & Diligence Support
              </h3>

              <p class="text-xs text-gray-600">
                End-to-end support for pilots, investments & acquisitions.
              </p>
            </div>

            <div class="px-4 border-r border-gray-300">
              <div class="text-cyan-500 text-4xl mb-4">
                <img src="/img/a4.svg">
              </div>

              <h3 class=" font-semibold text-base mb-2">
                Peer Network
              </h3>

              <p class="text-xs text-gray-600">
                Connect with industry leaders, collaborators & co-investors.
              </p>
            </div>

            <div class="px-4">
              <div class="text-blue-500 text-4xl mb-4">
                <img src="/img/a5.svg">
              </div>

              <h3 class=" font-semibold text-base mb-2">
                Visibility & PR
              </h3>

              <p class="text-xs text-gray-600">
               Co-branding, media features & national-level recognition.
              </p>
            </div>

          </div>
        </div>

      </div>

      <div>

        <div class="bg-[#171C73] rounded-2xl h-full p-8 text-white">

          <h2 class="text-xl font-bold uppercase mb-2">
            The Bigger Vision
          </h2>

          <p class=" text-base text-white/90 mb-3">
            Building a permanent corridor between India's
            established business ecosystem and its most
            innovative startups.
          </p>

          <div class="space-y-4">

            <div class="flex items-start gap-4">
              <span class="text-[#FD226A] text-3xl">
                <img src="/img/b1.svg">
              </span>
              <div>
                <h3 class="text-xl font-semibold">500+</h3>
                <p class="text-xs text-white/70">
                  Corporate-Startup Partnerships
                </p>
              </div>
            </div>

            <div class="flex items-start gap-4">
              <span class="text-[#FD226A] text-3xl">
                <img src="/img/b2.svg">
              </span>
              <div>
                <h3 class="text-xl font-semibold">100+</h3>
                <p class="text-xs text-white/70">
                  Technology Adoptions
                </p>
              </div>
            </div>

            <div class="flex items-start gap-4">
              <span class="text-[#FD226A] text-3xl">
                <img src="/img/b3.svg">
              </span>
              <div>
                <h3 class="text-xl font-semibold">250 Cr+</h3>
                <p class="text-xs text-white/70">
                  Corporate Investment Facilitated
                </p>
              </div>
            </div>

          </div>

          <div class="mt-12  border-white/20">
            <p class="text-base">
              Over the next 3 years through BRIDGE
            </p>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>

<!-- CONTACT SECTION -->
<section class="bg-[#f5f5f5] py-12">
    <div class="md:px-20 px-10 mx-auto">

        <div class="bg-white rounded-2xl shadow-md border border-gray-200">

            <div class="grid md:grid-cols-3 divide-x divide-gray-200">

                <!-- EMAIL -->
                <div class="flex items-center justify-center w-full gap-4 p-8">

                    <div class="text-[#FD226A]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
                                d="M3 8l9 6 9-6M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                        </svg>
                    </div>

                    <div>
                        <p class="text-gray-700 font-medium">
                            Write to us:
                        </p>

                        <a href="mailto:abhijith@startupmission.in"
                           class="text-[#FD226A] font-semibold hover:underline">
                            abhijith@startupmission.in
                        </a>
                    </div>

                </div>

                <!-- PHONE -->
                <div class="flex items-center justify-center w-full gap-4 p-8">

                    <div class="text-[#FD226A]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
                                d="M3 5a2 2 0 012-2h2.28a2 2 0 011.94 1.515l.7 2.8a2 2 0 01-.45 1.88l-1.27 1.27a16 16 0 007.07 7.07l1.27-1.27a2 2 0 011.88-.45l2.8.7A2 2 0 0121 18.72V21a2 2 0 01-2 2h-1C9.716 23 1 14.284 1 4V3a2 2 0 012-2z"/>
                        </svg>
                    </div>

                    <div>
                        <p class="text-gray-700 font-medium">
                            Call us:
                        </p>

                        <a href="tel:+919037033341"
                           class="font-semibold text-gray-900">
                            +91 9037033341
                        </a>
                    </div>

                </div>

                <!-- WEBSITE -->
                <div class="flex items-center justify-center w-full gap-4 p-8">

                    <div>
                       <img src="/img/logo.svg">
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>


<!-- FOOTER -->
<footer class="bg-[#151A73]">

    <div class=" mx-auto md:px-20 px-10">

        <div class="flex flex-col md:flex-row justify-between items-center py-6 gap-4">

            <p class="text-white text-sm">
                Copyright © 2026 All Rights Reserved.
            </p>

            <div class="flex flex-wrap justify-center gap-2 text-sm text-white">

                <a href="https://business.startupmission.in/disclaimer" target="_blank" class="hover:underline">
                    Disclaimer
                </a>

                <span>|</span>

                <a href="https://business.startupmission.in/privacy" target="_blank" class="hover:underline">
                    Privacy Policy
                </a>

                <span>|</span>

                <a href="https://business.startupmission.in/termsofuse" target="_blank" class="hover:underline">
                    Terms of Use
                </a>

                <span>|</span>

                <a href="https://startupmission.kerala.gov.in/" target="_blank">
                    Powered by Kerala Startup Mission ©
                </a>

            </div>

        </div>

    </div>

</footer>
</Layout>